In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv("C:\\Users\\Dell\\Downloads\\datasets\\Disease_Dataset.csv")
df.head()

,age,gender,bmi,smoking_status,alcohol_consumption,exercise_level,diet_type,sun_exposure,income_level,latitude_region,...,has_night_blindness,has_fatigue,has_bleeding_gums,has_bone_pain,has_muscle_weakness,has_numbness_tingling,has_memory_problems,has_pale_skin,disease_diagnosis,has_multiple_deficiencies
0,79,Male,24.8,Former,NaN,Active,Vegetarian,High,High,Mid,...,0,0,0,0,0,0,0,0,Healthy,0
1,77,Female,39.9,Former,Moderate,Light,Omnivore,Low,Low,Low,...,0,0,0,1,0,0,0,0,Rickets_Osteomalacia,0
2,24,Male,26.4,Former,Heavy,Moderate,Omnivore,Low,High,High,...,1,0,0,0,0,0,0,0,Healthy,0
3,69,Male,23.1,Never,Heavy,Moderate,Vegetarian,High,Low,Low,...,0,0,0,0,0,1,1,0,Anemia,0
4,63,Male,29.6,Never,NaN,Moderate,Vegetarian,Moderate,High,Low,...,0,0,0,0,0,0,0,0,Healthy,0

Extracting meaningful columns

In [3]:
columns_to_drop=['has_night_blindness','has_fatigue','has_bleeding_gums','has_bone_pain','has_muscle_weakness','has_numbness_tingling','has_memory_problems','has_pale_skin','has_multiple_deficiencies',"diet_type","sun_exposure","income_level","latitude_region","folate_percent_rda","calcium_percent_rda","iron_percent_rda","hemoglobin_g_dl","serum_vitamin_d_ng_ml","serum_vitamin_b12_pg_ml","serum_folate_ng_ml","symptoms_count",'vitamin_a_percent_rda','vitamin_c_percent_rda','vitamin_d_percent_rda','vitamin_e_percent_rda','vitamin_b12_percent_rda','symptoms_list']
df=df.drop(columns=columns_to_drop)
df.head()

,age,gender,bmi,smoking_status,alcohol_consumption,exercise_level,disease_diagnosis
0,79,Male,24.8,Former,NaN,Active,Healthy
1,77,Female,39.9,Former,Moderate,Light,Rickets_Osteomalacia
2,24,Male,26.4,Former,Heavy,Moderate,Healthy
3,69,Male,23.1,Never,Heavy,Moderate,Anemia
4,63,Male,29.6,Never,NaN,Moderate,Healthy

In [22]:
column_to_drop=["alcohol_consumption"]
df=df.drop(columns=column_to_drop)
df.head()

   age  gender   bmi smoking_status exercise_level     disease_diagnosis
0   79    Male  24.8         Former         Active               Healthy
1   77  Female  39.9         Former          Light  Rickets_Osteomalacia
2   24    Male  26.4         Former       Moderate               Healthy
3   69    Male  23.1          Never       Moderate                Anemia
4   63    Male  29.6          Never       Moderate               Healthy

In [23]:
for col in ['exercise_level','smoking_status']:
    print(col, df[col].unique())

exercise_level <StringArray>
['Active', 'Light', 'Moderate', 'Sedentary']
Length: 4, dtype: str
smoking_status <StringArray>
['Former', 'Never', 'Current']
Length: 3, dtype: str

Dealing with nan values

In [24]:
df.isna().sum()

age                  0
gender               0
bmi                  0
smoking_status       0
exercise_level       0
disease_diagnosis    0
dtype: int64

Train test splitting

In [25]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=["disease_diagnosis"]),df["disease_diagnosis"],test_size=0.2,random_state=42)

column Transformation

In [26]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(sparse_output=False,drop='first'),['gender']),
    ('tnf2',OrdinalEncoder(categories=[
        ["Never","Former","Current"],
        ["Sedentary","Light","Moderate","Active"]]),['smoking_status','exercise_level']),
],remainder='passthrough')
#remainder can be passthrough(ignores the rest columns) or drop() drops the rest columns

In [32]:
x_train=transformer.fit_transform(x_train)
x_test=transformer.transform(x_test)

In [ ]:
le = LabelEncoder()
y_train= le.fit_transform(y_train)
y_test= le.transform(y_test)

array([1, 1, 2, ..., 0, 1, 1], shape=(3200,))