In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [5]:
df=pd.read_csv("C:\\Users\\Dell\\Downloads\\datasets\\house_pricing_data.csv")
df.shape

(4600, 18)

In [6]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [8]:
columns_to_drop=["date","waterfront","view","condition","sqft_basement","sqft_above","yr_renovated","street","city","statezip","country"]
df=df.drop(columns=columns_to_drop)

In [9]:
df.head()

       price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  yr_built
0   313000.0       3.0       1.50         1340      7912     1.5      1955
1  2384000.0       5.0       2.50         3650      9050     2.0      1921
2   342000.0       3.0       2.00         1930     11947     1.0      1966
3   420000.0       3.0       2.25         2000      8030     1.0      1963
4   550000.0       4.0       2.50         1940     10500     1.0      1976

In [11]:
columns_to_drop=["bathrooms","sqft_lot","floors"]
df=df.drop(columns=columns_to_drop)
df.head()

       price  bedrooms  sqft_living  yr_built
0   313000.0       3.0         1340      1955
1  2384000.0       5.0         3650      1921
2   342000.0       3.0         1930      1966
3   420000.0       3.0         2000      1963
4   550000.0       4.0         1940      1976

In [16]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['price']),df["price"],test_size=0.2,random_state=42)

Applying Regression before binning

In [46]:
lr=LinearRegression()

In [45]:
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

Accuracy

In [52]:
r2_score(y_test,y_pred)

0.02799041623541343

In [54]:
mean_squared_error(y_test, y_pred)

991300416531.7577

Applying Kmeans binning

In [61]:
kbin_sqft_living=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')
kbin_yr_built=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')