In [ ]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
df=pd.read_csv("C:\\Users\\Dell\\Downloads\\datasets\\train.csv")[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

Looking for nan values

In [13]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

Train test split

In [14]:
x=df.drop(columns=['Survived'])
y=df['Survived']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

Applying knn imputer

In [36]:
knn=KNNImputer()
x_train_trf=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)
x_test_trf

array([[ 22.8   ,   3.    ,  15.2458],
       [ 31.    ,   2.    ,  10.5   ],
       [ 20.    ,   3.    ,   7.925 ],
       [  6.    ,   2.    ,  33.    ],
       [ 14.    ,   3.    ,  11.2417],
       [ 26.    ,   1.    ,  78.85  ],
       [ 37.3   ,   3.    ,   7.75  ],
       [ 16.    ,   3.    ,  18.    ],
       [ 16.    ,   3.    ,   7.75  ],
       [ 19.    ,   1.    ,  26.2833],
       [ 37.    ,   1.    ,  53.1   ],
       [ 44.    ,   3.    ,   8.05  ],
       [ 19.    ,   3.    ,  25.4667],
       [ 30.    ,   3.    ,   7.225 ],
       [ 36.    ,   2.    ,  13.    ],
       [ 16.    ,   1.    ,  39.4   ],
       [ 42.    ,   1.    ,  52.5542],
       [ 27.    ,   3.    ,   7.8292],
       [ 27.    ,   2.    ,  13.    ],
       [ 47.    ,   1.    ,  52.    ],
       [ 24.    ,   3.    ,   7.8958],
       [ 34.    ,   1.    ,  26.55  ],
       [ 19.    ,   3.    ,   7.8542],
       [ 20.    ,   3.    ,   9.225 ],
       [ 29.9   ,   3.    ,  14.5   ],
       [ 10.    ,   3.    ,  27.9   ],
       [ 40.    ,   1.    ,  27.7208],
       [ 31.    ,   2.    ,  13.    ],
       [  4.    ,   3.    ,  27.9   ],
       [ 31.    ,   3.    ,   7.8542],
       [ 19.    ,   3.    ,   7.8958],
       [ 22.    ,   3.    ,   7.75  ],
       [ 49.2   ,   1.    ,  30.6958],
       [ 23.6   ,   3.    ,   7.55  ],
       [ 18.    ,   3.    ,   8.05  ],
       [ 27.    ,   3.    ,  14.4542],
       [ 28.    ,   1.    ,  35.5   ],
       [ 37.3   ,   3.    ,   7.75  ],
       [ 30.    ,   1.    ,  31.    ],
       [ 26.4   ,   3.    ,   7.8958],
       [ 21.    ,   2.    ,  73.5   ],
       [ 29.    ,   3.    ,   7.0458],
       [ 22.7   ,   3.    ,   8.05  ],
       [ 37.3   ,   3.    ,   7.75  ],
       [ 45.    ,   3.    ,  14.4542],
       [ 16.    ,   3.    ,  34.375 ],
       [ 19.    ,   3.    ,   8.1583],
       [ 23.    ,   3.    ,   9.225 ],
       [ 24.    ,   3.    ,   7.05  ],
       [ 58.    ,   1.    , 113.275 ],
       [  5.    ,   3.    ,  19.2583],
       [ 52.    ,   1.    ,  93.5   ],
       [ 40.    ,   3.    ,  27.9   ],
       [ 11.    ,   1.    , 120.    ],
       [ 65.    ,   3.    ,   7.75  ],
       [ 18.    ,   1.    ,  79.65  ],
       [ 32.    ,   2.    ,  10.5   ],
       [ 50.    ,   1.    , 247.5208],
       [ 35.    ,   2.    ,  21.    ],
       [ 19.    ,   3.    ,   7.8792],
       [ 21.    ,   3.    ,   7.775 ],
       [ 13.    ,   2.    ,  19.5   ],
       [ 28.    ,   2.    ,  26.    ],
       [ 46.4   ,   1.    ,  25.925 ],
       [ 37.3   ,   3.    ,   7.75  ],
       [ 57.    ,   2.    ,  10.5   ],
       [ 21.    ,   2.    ,  73.5   ],
       [ 29.    ,   3.    ,   7.875 ],
       [ 17.    ,   3.    ,   7.2292],
       [ 52.    ,   1.    ,  78.2667],
       [ 26.    ,   2.    ,  26.    ],
       [ 18.    ,   1.    , 262.375 ],
       [ 26.    ,   1.    ,  30.    ],
       [ 39.    ,   1.    ,  83.1583],
       [ 23.    ,   3.    ,   7.8542],
       [ 36.    ,   3.    ,  15.55  ],
       [ 30.5   ,   3.    ,   7.75  ],
       [ 22.    ,   1.    ,  49.5   ],
       [ 38.    ,   2.    ,  13.    ],
       [ 41.    ,   3.    ,  20.2125],
       [ 16.    ,   3.    ,  39.6875],
       [ 29.    ,   2.    ,  10.5   ],
       [ 40.    ,   1.    , 134.5   ],
       [ 27.8   ,   3.    ,   7.7375],
       [ 56.    ,   1.    ,  30.6958],
       [ 71.    ,   1.    ,  49.5042],
       [ 31.    ,   1.    , 113.275 ],
       [ 30.    ,   1.    ,  56.9292],
       [ 38.    ,   1.    ,   0.    ],
       [ 29.2   ,   3.    ,   7.25  ],
       [  9.    ,   3.    ,  20.525 ],
       [  9.    ,   3.    ,  31.275 ],
       [ 61.    ,   1.    ,  32.3208],
       [ 26.2   ,   3.    ,   7.7292],
       [ 26.4   ,   3.    ,   7.8958],
       [ 28.    ,   3.    ,   7.8542],
       [ 48.    ,   1.    ,  52.    ],
       [ 45.    ,   3.    ,   8.05  ],
       [ 36.    ,   2.    ,  13.    ],
       [ 27.    ,   3.    ,   7.8958],
       [ 64.    ,   1.    ,  26.    ],
       [ 35.    ,   3.    ,   7.125 ],
       [ 19.    ,   1.    ,  91.0792],
       [ 38.    ,   3.    ,   7.05  ],
       [ 30.5   ,   3.    ,   8.05  ],
       [ 25.    ,   3.    ,   7.775 ],
       [ 40.    ,   2.    ,  39.    ],
       [ 47.    ,   1.    ,  38.5   ],
       [ 30.    ,   3.    ,   9.5   ],
       [ 40.    ,   1.    ,  31.    ],
       [ 43.    ,   1.    ,  52.    ],
       [ 20.5   ,   3.    ,   7.25  ],
       [ 39.8   ,   1.    ,  89.1042],
       [ 36.    ,   1.    ,  26.2875],
       [ 33.6   ,   1.    , 221.7792],
       [ 20.    ,   3.    ,   9.8458],
       [ 71.    ,   1.    ,  34.6542],
       [ 36.    ,   2.    ,  12.875 ],
       [ 22.    ,   2.    ,  29.    ],
       [ 48.    ,   3.    ,  34.375 ],
       [ 23.    ,   2.    ,  11.5   ],
       [ 32.    ,   1.    ,  76.2917],
       [ 63.    ,   1.    ,  77.9583],
       [  0.83  ,   2.    ,  29.    ],
       [ 25.    ,   3.    ,   7.25  ],
       [ 35.    ,   1.    ,  26.55  ],
       [ 49.    ,   1.    ,  25.9292],
       [ 24.    ,   1.    ,  79.2   ],
       [ 18.9   ,   3.    ,  14.4583],
       [ 21.    ,   3.    ,   8.05  ],
       [ 33.2   ,   3.    ,   7.8792],
       [ 22.8   ,   3.    ,  15.2458],
       [ 36.6   ,   2.    ,   0.    ],
       [  5.    ,   3.    ,  12.475 ],
       [ 49.    ,   1.    ,  56.9292],
       [ 15.    ,   3.    ,  14.4542],
       [ 28.    ,   1.    , 110.8833],
       [ 29.    ,   3.    ,   7.775 ],
       [ 42.    ,   3.    ,   7.55  ],
       [ 18.    ,   3.    ,  17.8   ],
       [ 21.    ,   3.    ,   8.4333],
       [ 44.    ,   2.    ,  26.    ],
       [ 28.    ,   2.    ,  13.    ],
       [ 37.    ,   2.    ,  26.    ],
       [ 39.    ,   3.    ,  29.125 ],
       [ 34.    ,   2.    ,  32.5   ],
       [ 30.    ,   2.    ,  13.    ],
       [ 66.    ,   2.    ,  10.5   ],
       [ 21.584 ,   1.    , 146.5208],
       [ 43.    ,   3.    ,   8.05  ],
       [ 21.8   ,   3.    ,   8.7125],
       [ 24.    ,   3.    ,   7.4958],
       [ 18.    ,   3.    ,   7.7958],
       [ 27.8   ,   3.    ,  24.15  ],
       [ 22.7   ,   3.    ,   8.05  ],
       [ 27.6   ,   3.    ,   7.05  ],
       [ 27.    ,   3.    ,  56.4958],
       [ 24.4   ,   3.    ,   7.7875],
       [ 36.    ,   2.    ,  26.    ],
       [ 32.    ,   3.    ,  15.5   ],
       [ 23.5   ,   3.    ,   7.2292],
       [ 57.2   ,   1.    ,  26.55  ],
       [ 39.    ,   2.    ,  13.    ],
       [ 31.4   ,   1.    ,  82.1708],
       [ 25.084 ,   3.    ,   8.4583],
       [ 65.    ,   1.    ,  61.9792],
       [ 23.    ,   2.    ,  10.5   ],
       [ 43.    ,   1.    ,  51.8625],
       [ 22.    ,   3.    ,   7.8958],
       [ 35.    ,   3.    ,   7.05  ],
       [ 23.    ,   1.    ,  63.3583],
       [ 18.    ,   2.    ,  13.    ],
       [ 36.    ,   1.    ,  26.3875],
       [  9.    ,   3.    ,  15.2458],
       [ 17.    ,   3.    ,   7.125 ],
       [ 29.5   ,   3.    ,   7.225 ],
       [ 38.    ,   3.    ,  31.3875],
       [ 17.    ,   2.    ,  10.5   ],
       [  4.    ,   3.    ,  16.7   ]])

Converting imputed dataset columns to dataframes

In [37]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

      Age  Pclass      Fare
0    45.5     1.0   28.5000
1    23.0     2.0   13.0000
2    32.0     3.0    7.9250
3    26.0     3.0    7.8542
4     6.0     3.0   31.2750
..    ...     ...       ...
707  21.0     3.0    7.6500
708  39.0     1.0   31.0000
709  41.0     3.0   14.1083
710  14.0     1.0  120.0000
711  21.0     1.0   77.2875

[712 rows x 3 columns]

Applying knn Logistic Regression to dataset

In [38]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)
accuracy_score(y_test,y_pred)

0.7430167597765364

Applying Simple imputer

In [40]:
si=SimpleImputer()
x_train_trf2=si.fit_transform(x_train)
x_test_trf2=si.transform(x_test)
x_train_trf2

array([[ 45.5   ,   1.    ,  28.5   ],
       [ 23.    ,   2.    ,  13.    ],
       [ 32.    ,   3.    ,   7.925 ],
       ...,
       [ 41.    ,   3.    ,  14.1083],
       [ 14.    ,   1.    , 120.    ],
       [ 21.    ,   1.    ,  77.2875]], shape=(712, 3))

Converting imputed dataset to dataframes

In [41]:
pd.DataFrame(x_train_trf2,columns=x_train.columns)

           Age  Pclass      Fare
0    45.500000     1.0   28.5000
1    23.000000     2.0   13.0000
2    32.000000     3.0    7.9250
3    26.000000     3.0    7.8542
4     6.000000     3.0   31.2750
..         ...     ...       ...
707  21.000000     3.0    7.6500
708  29.498846     1.0   31.0000
709  41.000000     3.0   14.1083
710  14.000000     1.0  120.0000
711  21.000000     1.0   77.2875

[712 rows x 3 columns]

Applying Logistic Regression to Simple Imputer to dataset

In [42]:
lr=LogisticRegression()
lr.fit(x_train_trf2,y_train)
y_pred2=lr.predict(x_test_trf2)
accuracy_score(y_test,y_pred2)

0.7374301675977654