In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\datasets\\placement.csv')
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0