In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\datasets\\placement.csv')
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cgpa                  1000 non-null   float64
 1   placement_exam_marks  1000 non-null   float64
 2   placed                1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 23.6 KB

Finding the boundary vaules

In [9]:
print("Highest allowed",df['cgpa'].mean()+3*df['cgpa'].std())
print("Lowest allowed",df['cgpa'].mean()-3*df['cgpa'].std())

Highest allowed 8.808933625397168
Lowest allowed 5.113546374602832

Number of outliers

In [10]:
df[(df['cgpa']>8.80) | (df['cgpa']<5.11)]

     cgpa  placement_exam_marks  placed
485  4.92                  44.0       1
995  8.87                  44.0       1
996  9.12                  65.0       1
997  4.89                  34.0       0
999  4.90                  10.0       1

First way

Trimming

In [13]:
# remove extreme values(outliers) from dataset
new_df=df[(df['cgpa']<8.80) & (df['cgpa']>5.11)]
new_df

     cgpa  placement_exam_marks  placed
0    7.19                  26.0       1
1    7.46                  38.0       1
2    7.54                  40.0       1
3    6.42                   8.0       1
4    7.23                  17.0       0
..    ...                   ...     ...
991  7.04                  57.0       0
992  6.26                  12.0       0
993  6.73                  21.0       1
994  6.48                  63.0       0
998  8.62                  46.0       1

[995 rows x 3 columns]

Second Way

Using z score

In [14]:
df['cgpa_zscore']=(df['cgpa']-df['cgpa'].mean())/df['cgpa'].std()

In [ ]:
df.head() #only data of those students will be kept whose z score is in the interval of -3 and 3 in accordance of emperical rule of probability as it says that 99.7% of data lies in that interval
df['cgpa_zscore'].unique()

array([ 3.71425214e-01,  8.09809581e-01,  9.39701245e-01, -8.78782054e-01,
        4.36371046e-01,  5.50026252e-01, -4.40397688e-01,  2.57770008e-01,
       -8.30072680e-01,  1.28066686e+00, -2.29323733e-01, -9.43727887e-01,
       -6.18998726e-01, -2.08027995e+00,  1.54045019e+00,  2.25297092e-01,
       -7.00181016e-01,  9.72174161e-01, -5.07226949e-02,  1.08582937e+00,
        7.61100207e-01, -3.26742481e-01, -1.47953100e+00, -8.46309138e-01,
       -1.10609247e+00,  7.93573123e-01, -7.32653932e-01,  1.13453874e+00,
       -1.70684141e+00, -1.18727476e+00,  1.93012518e+00,  8.42282497e-01,
       -1.80614359e-01,  2.51463767e+00,  4.68843962e-01, -5.86525810e-01,
       -4.24161230e-01,  1.44303144e+00,  1.49174082e+00, -6.69591529e-02,
       -1.08985601e+00,  2.06001685e+00, -1.23598413e+00, -1.17103830e+00,
        9.23464787e-01,  2.36850955e+00,  1.88141581e+00,  1.24819395e+00,
        6.14972084e-01,  1.19948457e+00,  1.58915957e+00,  8.90991871e-01,
        1.05335645e+00, -1.20351121e+00,  3.04595953e-02, -1.12232892e+00,
       -4.72870604e-01,  1.75152415e+00,  7.28627291e-01, -1.34963934e+00,
        1.52421373e+00, -9.27491428e-01, -1.30092996e+00, -3.10506023e-01,
        2.25485435e+00,  2.01130747e+00, -1.48141443e-01,  4.20134588e-01,
        6.79917916e-01, -2.12898932e+00, -1.51200392e+00, -2.01332080e-03,
       -2.94269565e-01, -6.51471642e-01,  7.44863749e-01, -7.81363306e-01,
        6.29325113e-02,  3.06479382e-01, -1.15668527e-01,  2.09060634e-01,
        5.98735626e-01, -1.69060496e+00, -3.91688314e-01, -6.02762268e-01,
        5.82499168e-01, -1.65813204e+00,  4.52607504e-01, -1.07361955e+00,
        5.17553336e-01,  3.22715840e-01,  2.41533550e-01, -9.94320690e-02,
        4.66960533e-02, -1.60942267e+00, -1.15480184e+00, -1.82497788e-02,
       -2.45560191e-01,  1.99507102e+00,  1.21572103e+00,  1.11830228e+00,
       -1.02491018e+00, -5.37816436e-01, -2.06404349e+00,  1.83270644e+00,
       -1.04114663e+00,  1.92824176e-01, -3.42978939e-01, -4.56634146e-01,
       -1.64377901e-01,  2.54711059e+00,  5.33789794e-01,  1.32937624e+00,
        9.88410619e-01,  1.42679499e+00, -9.11254970e-01,  1.76587718e-01,
       -1.98286120e+00,  6.47445000e-01, -1.13856538e+00,  1.36184915e+00,
        1.29690332e+00, -5.05343520e-01, -1.25222059e+00, -1.28469351e+00,
       -4.07924772e-01,  5.66262710e-01,  1.23195749e+00,  3.55188756e-01,
       -1.38211225e+00,  1.42231372e-02, -1.05738309e+00,  2.15743560e+00,
       -1.93415183e+00,  1.57292311e+00,  7.91689694e-02,  8.74755413e-01,
        1.44114801e-01, -1.31904985e-01, -5.54052894e-01, -2.50242786e+00,
       -2.40500911e+00, -1.31716642e+00, -2.78033107e-01,  1.11641885e-01,
        1.31313978e+00,  3.87661672e-01,  2.90242924e-01, -1.57694975e+00,
        1.16701166e+00,  1.15077520e+00,  7.12390832e-01, -8.13836222e-01,
        6.63681458e-01, -1.36587580e+00, -2.11275286e+00,  3.38952298e-01,
        1.86517935e+00,  1.39432207e+00, -3.44862369e-02, -1.56071329e+00,
       -7.97599764e-01, -2.61796649e-01,  1.10206583e+00,  2.74006466e-01,
        1.73528769e+00, -2.81092056e+00,  2.48216476e+00, -8.62545596e-01,
       -3.75451855e-01,  2.30356372e+00, -1.85296954e+00, -1.52824038e+00,
        1.60539602e+00,  6.31208542e-01,  8.26046039e-01, -2.27511744e+00,
        9.54054274e-02,  1.62163248e+00, -3.59215397e-01, -5.21579978e-01,
        2.02754393e+00, -9.59964345e-01,  4.03898130e-01,  1.55668665e+00,
       -8.95018512e-01, -2.04780703e+00, -1.72307787e+00, -1.64189558e+00,
       -2.24264453e+00,  5.01316878e-01,  9.55937703e-01,  4.85080420e-01,
       -1.43082163e+00,  1.71905123e+00, -1.49576746e+00, -7.48890390e-01,
        1.02088354e+00,  2.12496268e+00, -8.31956109e-02,  1.50797728e+00,
        2.59581996e+00, -4.89107062e-01, -1.21974767e+00,  6.96154374e-01,
       -1.78802370e+00, -2.13087275e-01, -1.91791537e+00, -1.86920599e+00,
       -3.31425076e+00,  2.49840122e+00,  9.07228329e-01, -1.44705809e+00,
       -7.16417474e-01,  1.41055853e+00, -1.96850817e-01, -2.01533412e+00,
       -7.65126848e-01,  1.00464708e+00,  1.60351259e-01, -9.92437261e-01,
       -6.67708100e-01, -5.70289352e-01, -1.46329454e+00, -1.26845705e+00,
        1.89765227e+00,  1.27878343e-01, -6.83944558e-01, -6.35235184e-01,
        2.46592830e+00, -1.33340288e+00,  1.76776060e+00,  1.03711999e+00,
        1.18324812e+00, -9.76200803e-01,  8.58518955e-01, -1.39834871e+00,
       -1.00867372e+00,  1.06959291e+00,  1.78399706e+00, -2.17769870e+00,
        1.91388873e+00, -2.74597473e+00, -2.34006328e+00, -1.59318621e+00,
        2.31980018e+00,  1.26443041e+00, -1.83673308e+00, -2.35629974e+00,
       -1.99909766e+00,  1.65410540e+00, -1.62565912e+00,  1.63786894e+00,
       -1.54447683e+00,  1.68657831e+00,  2.38474601e+00, -2.14522578e+00,
        3.09915016e+00,  3.50506161e+00, -3.36296013e+00,  2.69323871e+00,
       -3.34672367e+00])

In [23]:
df[df['cgpa_zscore']>3]

     cgpa  placement_exam_marks  placed  cgpa_zscore
995  8.87                  44.0       1     3.099150
996  9.12                  65.0       1     3.505062

In [24]:
df[df['cgpa_zscore']<-3]

     cgpa  placement_exam_marks  placed  cgpa_zscore
485  4.92                  44.0       1    -3.314251
997  4.89                  34.0       0    -3.362960
999  4.90                  10.0       1    -3.346724

In [26]:
new_df=df[(df['cgpa_zscore']<3)& (df['cgpa_zscore']>-3)]
new_df

     cgpa  placement_exam_marks  placed  cgpa_zscore
0    7.19                  26.0       1     0.371425
1    7.46                  38.0       1     0.809810
2    7.54                  40.0       1     0.939701
3    6.42                   8.0       1    -0.878782
4    7.23                  17.0       0     0.436371
..    ...                   ...     ...          ...
991  7.04                  57.0       0     0.127878
992  6.26                  12.0       0    -1.138565
993  6.73                  21.0       1    -0.375452
994  6.48                  63.0       0    -0.781363
998  8.62                  46.0       1     2.693239

[995 rows x 4 columns]